section {
  background-color: hsl(217, 54%, 11%);
  width: 100%;
}

article {
  background-color: hsl(216, 50%, 16%);
  width: 80%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 799px) {
  section {
    width: 1440px;
  }
}
