section {
  background-color: hsl(217, 54%, 11%);
  width: 100%;
  height: 100vh;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  background-color: hsl(216, 50%, 16%);
  border-radius: 10px;
  height: 650px;
  width: 400px;
}

img.nft-img {
  width: 100%;
  border-radius: 10px;
}

.amount-time-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 799px) {
  section {
    width: 1440px;
  }
}
